*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing:inherit;
}
html{
  // This difine what 1rem is
  font-size: 62.5%;
}
@media (max-width: 776px){
  html{
    font-size: 48.12%;
  }
}
@media (max-width: 576px){
  html{
    font-size: 39.5%;
  }
}
body{
  box-sizing: border-box;
}